.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .welcome-text {
    font-size: 3rem;
    color: #ff6f00;
    font-weight: bold;
  }
  